.clients_about_us {
  font-family: "Poppins", sans-serif;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #f4f6fc;
}

.about_us {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 10rem;
}

.clients_about_us_introduction h2 {
  font-size: 38px;
  max-width: 16ch;
}

.clients_about_us_introduction {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.clients_about_us_introduction p {
  max-width: 36ch;
  color: #282938;
}

.clients_about_us_sobre h3 {
  font-size: 32px;
}

.clients_about_us_arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3.5rem;
}
